<div class="container-fluid">
  <div class="row">
      <div class="col">
          <h1>GitHub Search</h1>
      </div>
  </div>
  <hr>
</div>
<!-- input form -->
<!-- the search section -->
<header>
  <div class="row">
           <!-- Content -->
           <div class="text-center  mx-5 wow fadeIn">
              <h3 class="mb-4">
                <h2 class="h2 text-info mb-3 animated bounce infinite
                ">Search on Github <i class="fas fa-id-card"></i></h2>
              </h3>

              <div class="mb-4" >
                <!-- Search form -->
              <input class="form-control" name="userName" type="text"  placeholder="Search" aria-label="Search">
              
              </div>
              <div class="mb-4">
              <a target="_blank" class="btn btn-outline-primary btn-lg text-info" type="button"   >Find User 
                <i class="fas fa-search ml-2 animated wobble infinite"></i>
              </a>
            </div>
            <div class="form-group mb-4">
              <a target="_blank" class="btn btn-outline-primary btn-lg text-info" type="button"  > Show Repos 
                <i class="fas fa-search ml-2 animated wobble infinite"></i>
              </a>
            </div>
            </div>
            <!-- Content -->
  </div>
</header>
<!-- end of search section -->
<hr>
<!--Main layout-->
<main>


  <section class=" container mt-5 wow fadeIn">
      <div class="row">
        <div class="col-md-6 mb-4">
          <img src='' class="img-fluid z-depth-1-half" alt="">
        </div>

        <!--Grid column-->
        <div class="col-md-6 mb-4">
          <!-- card start -->
              <!-- Card -->
              <div class="card">
                  <!-- Card content -->
                  <div class="card-body">
                  <!-- Title -->
                  <h4 class="card-title animated fadeInRight" ><p class="text-info"> Tracer Found: xxxxxxxx </p></h4>
                  <div > <h3>loading  <i class="fas fa-spinner animated rotateIn infinite "></i></h3></div>
                  <hr>
                  <!-- Text -->
                  <ul class=" card-text list-group list-group-flush">
                      <li class="list-group-item animated fadeInRight"> <i class="fas fa-user-friends"></i> Followers: ...........</li>
                      <li class="list-group-item animated fadeInRight"> <i class="fas fa-users f0c0"></i> Following: ...........</li>
                      <li class="list-group-item animated fadeInRight"> <i class="fas fa-folder-open"></i> No of public repos: ..........</li>
                      <li class="list-group-item animated fadeInRight"> <i class="far fa-clock pr-1"></i> Joined on: ...........</li>
                      </ul>
                  </div>
                  <!-- Card footer -->
                  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                  <ul class="list-unstyled list-inline font-small">
                      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-user-friends"></i> ...........</a></li>
                      <li class="list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-users f0c0"></i> ...........</a></li>
                      <li class="list-inline-item"><a href="#" class="white-text"><i class="far fa-clock pr-1"></i> ...........</a></li>
                  </ul>
                  </div>
              </div>
           <!-- Card -->
        </div>
        <!--Grid column-->
      </div>
      <!--end of profile Grid row-->
  </section>



    <!-- repos section -->
  <section class="container">
      <hr>
      <h3 class="h3 text-center mb-5 text-info animated fadeInRight">Found Repositories</h3>
      <!--Grid row-->
      <div class="row wow fadeIn">
          <div class="col-md-4 card" >
              <!-- <div class="card"> -->
                  <!-- Card content -->
                  <div class="card-body ">
                    <!-- Title -->
                    <h4 class="card-title animated fadeInRight" ><p class="text-info"> ...........</p></h4>
                    <hr>
                    <!-- Text -->
                    <ul class=" card-text list-group list-group-flush">
                        <li class="list-group-item animated fadeInRight"> <i class="fas fa-fingerprint"></i> Repo ID: ...........</li>
              
                        <li class="list-group-item animated fadeInRight"> <i class="fas fa-globe-americas"></i> Repo Name: ...........</li>
              
                        <li class="list-group-item animated fadeInRight"> <i class="fas fa-file-signature"></i> Repo Description: ...........</li>
                      </ul>
                  </div>

                  <!-- Card footer -->
                  <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <a target="_blank" href="#" class="btn btn-grey btn-md">  Checkout on Github
                          <i class="fas fa-fighter-jet"></i>
                        </a>
                    </ul>
                  </div>
                <!-- </div> -->
      </div>
      </div>
      <!--/Grid row-->
  </section>


</main>
<!--End of Main layout-->





<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <hr class="my-4">
  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="#" target="_blank"> <i>Humphrey Mutuma</i> </a>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
